/* Enhanced style.css */

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h2 {
    font-size: 24px;
    color: #333333;
    margin-top: 20px;
    text-align: center; /* Center align the heading */
}

#status {
    margin-top: 10px;
    font-size: 16px;
    color: #666666;
}

#fixedTextContainer {
    padding: 20px; /* Increased padding for better readability */
    font-size: 22px; /* Larger font size for better visibility */
    border: 1px solid #cccccc;
    border-radius: 8px; /* Rounded corners */
    background-color: #ffffff;
    text-align: left;
    margin-top: 20px;
    width: 75%;
    min-height: 200px; /* Increased min-height for better text display */
    cursor: text;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

#message-input {
    padding: 12px; /* Increased padding for better input field appearance */
    width: 25%;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-top: 20px;
    box-sizing: border-box;
}

#isDoneContainer {
    font-weight: bold;
    color: #007bff;
    margin-top: 10px;
}

.highlight-client {
    background-color: rgb(41, 215, 70);
}

@media (max-width: 768px) {
    #fixedTextContainer {
        width: 90%; /* Adjusted width for smaller screens */
        font-size: 18px; /* Smaller font size for better readability on smaller screens */
        min-height: 150px; /* Adjusted min-height for smaller screens */
    }

    #message-input {
        width: 60%; /* Adjusted width for smaller screens */
    }
}
