/* style.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Setter hovedaksen til kolonne (vertikal) */
    align-items: center; /* Senterer elementer horisontalt */
    height: 100vh; /* Fyller hele skjermhøyden */
    margin: 0; /* Fjerner standardmargen */
    background-color: #f0f0f0; /* Bakgrunnsfarge */
}

h2 {
    font-size: 24px; /* Størrelse på overskrift */
    color: #333333; /* Tekstfarge */
    margin-top: 20px; /* Avstand over overskriften */
}

#status {
    margin-top: 10px; /* Avstand over statuscontainer */
}

#fixedTextContainer {
    padding: 10px; /* Innebygd padding */
    border: 1px solid #cccccc; /* Ramme med grå farge */
    border-radius: 4px; /* Avrundede hjørner */
    background-color: #f8f8f8; /* Bakgrunnsfarge */
    text-align: left; /* Venstrestilling av tekst */
    margin-top: 20px; /* Avstand over fast tekstcontainer */
}

#message-input {
    padding: 10px; /* Innebygd padding */
    width: 25%; /* Full bredde */
    font-size: 16px; /* Tekststørrelse */
    border: 1px solid #cccccc; /* Ramme med grå farge */
    border-radius: 4px; /* Avrundede hjørner */
    margin-top: 20px; /* Avstand over meldingsinndata */
    box-sizing: border-box; /* Inkluderer padding og border i breddeberegningen */
}

#isDoneContainer {
    font-weight: bold; /* Fet skrift */
    color: #007bff; /* Tekstfarge */
    margin-top: 10px; /* Avstand over ferdig-meldingscontainer */
}

.highlight-client {
    background-color: rgb(255, 0, 0); /* Bakgrunnsfarge for fremhevet klient */
}
