@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #1E1E2F;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

pre#ascii-art {
    font-family: 'Roboto Mono', monospace;
    color: #FF6F61;
    font-size: 1.5rem;
    white-space: pre;
    margin: 0;
    padding: 0;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1976D2; 
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #FF6F61; 
    color: white;
    transform: scale(1.05);
}

#copy-room-id-button,
#create-room-button {
    background-color: #388E3C; 
    color: white;
}

#copy-room-id-button:hover,
#create-room-button:hover {
    background-color: #2E7D32; 
}

#join-room-button {
    background-color: #FF7043; 
    color: white;
}

#start-game-button {
    background-color: #FF7043; 
    color: white;
}

#join-room-button:hover,
#start-game-button:hover {
    background-color: #FF8A65; 
}

#leave-room-button {
    background-color: #EF5350; 
    color: white;
}

#leave-room-button:hover {
    background-color: #E57373; 
}

input[type="text"] {
    padding: 10px;
    margin: 10px;
    border: 1px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #333;
    color: #FFFFFF;
    font-family: 'Roboto Mono', monospace;
}

#start-screen,
#game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#status-container,
#room-id-container,
#join-room-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#status-container {
    margin-bottom: 10px;
}

#room-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#room-info > * {
    margin: 5px;
}

#current-room-id {
    font-size: 14px;
    color: #FFFFFF;
}

#fixedTextContainer {
    margin: 20px;
    padding: 20px;
    width: 80%;
    max-width: 650px;
    min-height: 150px;
    line-height: 1.6;
    font-size: 18px;
    color: #FFFFFF;
    /*background-color: #2C2C3E;*/
    border-radius: 8px;
    overflow-wrap: break-word;
}

#message-input {
    width: 25%;
    max-width: 600px;
}

.highlight-client-self {
    background-color: #66BB6A; 
}

.highlight-client-opponent {
    background-color: #FF4343; 
}

#alert-container {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #66BB6A; 
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s;
}

#alert-container.show {
    opacity: 1;
}

.hidden {
    display: none;
}

